*{
    margin: 0%;   
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.property-amenities{
    background-color: #f7f5f0;
    width: 100%;
}
.page-container {
    max-width: 800px;
    padding: 80px 24px;
    margin: auto;
}
h1 {
    font-size: 36px;
    margin-bottom: 40px;
}
.justify-content-between {
    justify-content: space-between!important;
}
h5 {
    font-size: 16px;
    margin-bottom: 10px;
}
.amenity-container {
    margin: 8px 0px;
}
.amenity-container img {
    height: 20px;
    margin-top: -4px;
    margin-right: 4px;
}
.page-container {
    max-width: 800px;
    padding: 80px 24px;
    margin: auto;
}
.page-container h1 {
    font-size: 36px;
    margin-bottom: 40px;
}
.page-container p {
    margin-top: 0;
    margin-bottom: 1rem;
}

