*{
    margin: 0%;   
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
   }
   .searchbar{
    /* background: linear-gradient(rgb(77, 70, 70), rgb(77, 70, 70)), url('/bg.png'); */
    background: linear-gradient(rgba(104, 99, 98, 0.4), rgba(104, 99, 98, 0.4)),url("Logo/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .center{
    /* border: 2px solid; */
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
   }
   .center .center1 input{
    width: 40%;
    height: 3vh;
    outline: none;
    font-size: 17px;
    text-align: center;
   }
   ::placeholder{
    text-align: center;
   }
   .searchbar .center h1{
    font-size: 40px;
    color: white;
    font-weight: bolder;
    margin: 15px 0px;
   }
   .center1{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 65%;
    flex-wrap: wrap;
    flex-direction: row;
   }
   button {
    padding: 2px 5px;
    /* border-radius: 3px; */
    cursor: pointer;
    height: 3vh;
}
   
